﻿@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<br />
<input type="hidden" id="filterType" value="" />

<div class="container">
    <div id="AvailableFilters" style="box-shadow: 0 2px 14px #000; padding-top: 3%;">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 text-center">
                    <button class="btn btn-info" id="searchOptions" onclick="GetFilterOptions()" style="width: 100% !important;"><i class="fas fa-user-md"></i> Add Search Filter(s)</button>
                </div>
                <div class="col-md-3 text-center">
                    <button id="btnClearAllFilters" class="btn btn-danger" onclick="ClearAvailableFilters()" style="width: 100% !important;"><i class="far fa-trash-alt"></i> Clear Filters</button>
                </div>
                <div class="col-md-3"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <p id="selectedLocationFilters">
                        <b>
                            <u>Location Filters:</u>
                        </b>
                        <br />
                        <label id="locationsFromFilter" style="overflow-wrap: break-word !important"></label>
                    </p>
                    <br />
                </div>
                <div class="col-md-3">
                    <p id="selectedLanguagesFilters">
                        <b>
                            <u>Language Filters:</u>
                        </b>
                        <br />
                        <label id="languagesFromFilter" style="overflow-wrap: break-word !important"></label>
                    </p>
                    <br />
                </div>
                <div class="col-md-3">
                    <p id="selectedInsuranceFilters">
                        <b>
                            <u>Insurance Filters:</u>
                        </b>
                        <br />
                        <label id="insurancesFromFilter" style="overflow-wrap: break-word !important;"></label>
                    </p>
                </div>
                <div class="col-md-3">
                    <p id="selectedAgeFilters">
                        <b>
                            <u>Age Filters:</u>
                        </b>
                        <br />
                        <label id="agesFromFilter" style="overflow-wrap: break-word !important;"></label>
                    </p>
                    <br />
                </div>
                <div class="col-md-3">
                    <p id="selectedServicesFilters">
                        <b>
                            <u>Service Filters:</u>
                        </b>
                        <br />
                        <label id="servicesFromFilter" style="overflow-wrap: break-word !important;"></label>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div id="serviceResults">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center">
                <input type="text" id="searchBox" class="form-control" placeholder="Search Services" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table id="ServicesTable" class="display" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Resource</th>
                            <th>Location</th>
                            <th>Services</th>
                            <th>Languages</th>
                            <th>Insurances</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Filter Options Modal -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
                <div class="modal-dialog" style="max-width: 90% !important;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 text-left">
                                        <button id="btnClearFilters" class="btn btn-danger" onclick="ClearAvailableFilters()" data-dismiss="modal"><i class="far fa-trash-alt"></i> Clear Filters</button>
                                    </div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 text-right">
                                        <button id="btnApplyFilters" class="btn btn-success" onclick="ApplyFilters()" data-dismiss="modal"><i class="fas fa-filter"></i> Apply Filters</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
                            <div class="row" id="startOfOptions">
                                <div class="col-md-1"></div>
                                <div class="col-md-2 text-center" style="border-right:1px solid black">
                                    <h2>
                                        <u>Location Filters</u>
                                    </h2>
                                    <br />
                                    <div id="locationFilters">
                                        @if (Model.Locations != null)
                                        {
                                            <label>
                                                <input type="checkbox" id="AllLocations" name='AllLocations' value="AllLocations" onclick="AddFilterOption('AllLocations')"> All Locations
                                            </label>
                                            <br />
                                            @foreach (var item in @Model.Locations)
                                            {
                                                <label>
                                                    <input type="checkbox" id="@item.Id" name='Locations' value="@item.Location" onclick="AddFilterOption('Locations', '@item.Id')"> @item.Location, @item.ZipCode
                                                </label>
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2 text-center" style="border-right:1px solid black">
                                    <h2>
                                        <u>Service Filters</u>
                                    </h2>
                                    <br />
                                    <div id="serviceFilters">
                                        @if (Model.Services != null)
                                        {
                                            <label>
                                                <input type="checkbox" id="AllServices" name='AllServices' value="AllServices" onclick="AddFilterOption('AllServices')"> All Services
                                            </label>
                                            <br />
                                            @foreach (var item in @Model.Services)
                                            {
                                                <label>
                                                    <input type="checkbox" id="@item.Id" name='Services' value="@item.Service" onclick="AddFilterOption('Services','@item.Id')"> @item.Service
                                                </label>
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2 text-center" style="border-right:1px solid black">
                                    <h2>
                                        <u>Age Filters</u>
                                    </h2>
                                    <br />
                                    <div id="ageFilters">
                                        @if (Model.Ages != null)
                                        {
                                            @foreach (var item in Model.Ages)
                                            {
                                                <label>
                                                    <input type="checkbox" id="@item.Id" name='Ages' value="@item.Age" onclick="AddFilterOption('Ages', '@item.Id')"> @item.Age
                                                </label>
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2 text-center" style="border-right:1px solid black">
                                    <h2>
                                        <u>Language Filters</u>
                                    </h2>
                                    <br />
                                    <div id="languageFilters">
                                        @if (Model.Languages != null)
                                        {
                                            <label>
                                                <input type="checkbox" id="AllLanguages" name='AllLanguages' value="AllLanguages" onclick="AddFilterOption('AllLanguages')"> All Languages
                                            </label>
                                            <br />
                                            @foreach (var item in Model.Languages)
                                            {
                                                <label>
                                                    <input type="checkbox" id="@item.Id" name='Languages' value="@item.Language" onclick="AddFilterOption('Languages','@item.Id')"> @item.Language
                                                </label>
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h2>
                                        <u>Insurance Filters</u>
                                    </h2>
                                    <br />
                                    <div id="insuranceFilters">
                                        @if (Model.Insurances != null)
                                        {
                                            @foreach (var item in Model.Insurances)
                                            {
                                                <label>
                                                    <input type="checkbox" id="AllInsurances" name='AllInsurances' value="AllInsurances" onclick="AddFilterOption('AllInsurances')"> All Insurances
                                                </label>
                                                <br />
                                                <label>
                                                    <input type="checkbox" id="@item.Id" name='Insurances' value="@item.Name" onclick="AddFilterOption('Insurances','@item.Id')"> @item.Name
                                                </label>
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <hr />
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-info" href="#startOfOptions">Scroll to Top</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script src="~/js/home.js" asp-append-version="true"></script>
}